/* Header */

header {
  background: url("images/fond1.jpg");
  background-size: cover;
  background-position: center;
  height: 95vh;
  border-bottom: 1px solid #000;

  position: relative;
}
.navbar {
  background-color: #1e70b7;
}
.nav-item:hover {
  opacity: 0.6;
}

.logo {
  width: 230px;
  transition: all 0.4s ease;
  background-color: #1e70b7;
}

.text-intro {
  position: absolute;
  top: 60%;
  left: 50%;

  transform: translate(-50%, -50%);
}
.card-title-intro {
  font-size: 2em;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  color: #656565;
  text-align: center;
  padding: 5px;
}
h1 {
  font-size: 3.5em;
  line-height: 1;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  background-color: transparent;
  text-decoration: none;
  border-width: 0px;
  border-color: rgb(255, 255, 255);
  border-style: none;
  text-shadow: 2px 2px #000000;
  -webkit-font-smoothing: antialiased !important;
}

.preTxt {
  z-index: 6;
  font-size: 3em;
  margin: 0;
  padding: 0px;
  color: #ffffff;
  line-height: 0.9;
  font-family: "lato";
  text-shadow: 2px 2px #000000;
  font-family: "Sorts Mill Goudy", serif;
}

a {
  color: #1e70b7;
}

/* Navbar */
/* effet js*/
#main-nav {
  transition: all 1s ease;
}
.navbar-brand {
  font-size: 45px !important;

  transition: all 0.4s ease;
}
.navbar a {
  font-family: "Lato", sans-serif;
  letter-spacing: 3px;
  font-size: 15px;
  color: #fff !important;
  font-weight: 700;
  transition: all 0.4s ease;
}

.navbar.opaque .navbar-brand {
  font-size: 27px !important;
  /* transition pour le retour */
  transition: all 0.4s ease;
}
.navbar.opaque a {
  font-size: 11px;
  transition: all 0.4s ease;
}

/* Les 3 cards */
.card-title {
  font-size: 2em;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  color: #3e3e3e;
  text-align: center;
  padding: 5px;
}
.card-text {
  font-size: 1em;
}

.card-body {
  font-family: "lato";
  color: #656565;
  font-size: 1em;
}
.card-header {
  font-family: "lato";
  color: #3e3e3e;
}

.scrollbar {
  overflow-y: scroll;
  max-height: 300px;
}
/* Mon parcours */

#aPropos {
  padding-bottom: 75px;
  border-bottom: 1px dashed #3e3e3e;
  font-size: 1em;
}
.titreParcours2 {
  font-size: 2em;
}

.container {
  font-family: "lato";
  color: #3e3e3e;
}

.btn {
  color: #3e3e3e;
  font-family: "lato";
}

/* Trois Icones */

#icones {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* seconde banniere */

#ban2 {
  position: relative;
  min-height: 300px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    url("images/fond2.jpg");

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

#carouselContent {
  margin-top: 70px;
  font-size: 3em;
  color: #3e3e3e;
  font-weight: lighter;
}
/*  Cartes */

.offreH {
  font-size: 2em;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Lato", sans-serif;
  color: #7d8408;
}

#cartes {
  padding: 50px 0 100px 0;
}

.threeCards {
  width: 350px;
  height: 620px;
  margin: 30px auto;
  position: relative;
  transition: 0.2s ease-in;
  box-shadow: 0px 10px 30px black;
}

.threeCards:hover {
  transform: scale(1.1);
}

.header {
  height: 200px;
  width: 350px;
  position: relative;
  font-family: "Lato";
  background: rgba(18, 31, 163, 0.2);
}
h2 {
  font-family: "Lato", sans-serif;
  color: #3e3e3e;
}

#spanPrix {
  margin: 0;
  position: relative;
  top: 130px;
  text-align: center;
  font-size: 3em;
  color: #7d8408;
}
/* amteur pro etc titre des cartes*/
.price {
  height: 120px;
  width: 350px;
  background: rgba(125, 132, 8, 0.5);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: absolute;
  top: 0;
}

.price h4 {
  margin: 0;
  text-align: center;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 2em;
  position: relative;
  top: 30px;
}

.details {
  background: white;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-family: "Lato";
  transition: all 0.2s ease-in;
  color: #3e3e3e;
  font-size: 1em;
}
.details:hover {
  background: rgba(181, 208, 230, 0.1);
}
hr {
  background-color: #7d8408;
}
.fa-chevron-right {
  color: #7d8408;
}

#btn {
  background: white;
  height: 80px;
  font-size: 1em;
}

#btn a {
  text-decoration: none;
  font-family: "lato";
  height: 50px;
  width: 120px;
  display: block;
  margin: auto;
  text-align: center;
  color: #7d8408;
  line-height: 50px;
  position: relative;
  top: 10px;
  border-radius: 30px;
  border: 1px solid #7d8408;
  transition: all 0.2s ease-in;
}

#btn a:hover {
  background: #7d8408;
  color: white;
}
/* Progress section */

#progress {
  border-top: 1px dashed #3e3e3e;

  padding-top: 100px;
  padding-bottom: 100px;
}
.list-unstyled {
  font-size: xx-large;
  color: #3e3e3e;
}

.map-container-section {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container-section iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* reseau sociaux*/
.fab:hover {
  opacity: 0.6;
}
.btn:hover {
  opacity: 0.6;
}

/* section contact */
.mt-2 {
  font-size: 2em;
}
.md-form {
  font-size: 1em;
}
.mb-md-0 {
  color: #7d8408;
}
/* texte en gras */

strong {
  font-weight: bold;
  font-size: 120%;
}

/* Média Queries */

@media screen and (max-width: 1024px) {
  header {
    height: 95vh;
    position: relative;
  }
  .text-intro {
    padding-left: 10px;
    width: 100%;
    top: 60%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
  .col-lg-4 {
    max-width: 100%;
  }

  .navbar a {
    font-size: 11px;

    transition: all 0.4s ease;
  }

  .card-title-intro {
    font-size: 1em;
  }
  h3.card-title {
    font-size: 1em;
  }
  .titreParcours2 {
    font-size: 1em;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 60vh;
    position: relative;
  }
  h1 {
    font-size: 2em;
  }
  .preTxt {
    font-size: 2em;
  }
  .text-intro {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .text-intro {
    transform: scale(0.8);
  }
  .navbar-brand {
    font-size: 35px !important;
  }
  .w-responsive {
    padding-left: 5px;
  }
  .card-title-intro {
    font-size: 1em;
  }
  .card-title {
    font-size: 1em;
  }
  .titreParcours2 {
    font-size: 1em;
    text-transform: uppercase;
  }

  #carouselContent {
    font-size: 30px;
  }
}

@media screen and (max-width: 500px) {
  header {
    height: 55vh;
  }
  h1 {
    font-size: 2em;
  }
  .preTxt {
    font-size: 2em;
  }

  h2 {
    font-size: 20px;
  }
  .price h2 {
    font-size: 28px;
  }

  .text-intro {
    transform: scale(0.8);
  }
  .navbar-brand {
    font-size: 35px !important;
  }
  .w-responsive {
    padding-left: 5px;
  }
  .titreParcours2 {
    padding-top: 30px;
  }
  #carouselContent {
    font-size: 30px;
  }
}

@media screen and (max-width: 425px) {
  header {
    height: 60vh;
    position: relative;
  }
  h1 {
    font-size: 2em;
  }
  .preTxt {
    font-size: 2em;
  }
  .text-intro {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .card-title-intro {
    font-size: 1em;
  }
  .card-title {
    font-size: 1em;
  }
  .titreParcours2 {
    font-size: 1em;
    text-transform: uppercase;
  }
  .mt-2 {
    font-size: 1em;
  }
  #headingOne {
    padding: 0px;
  }
  #headingThree {
    padding: 0px;
  }
  #headingTwo {
    padding: 0;
  }
  .w-responsive {
    padding-left: 5px;
  }
}

@media screen and (max-width: 375px) {
  header {
    height: 60vh;
    position: relative;
  }
  h1 {
    font-size: 2em;
  }
  .preTxt {
    font-size: 2em;
  }
  .text-intro {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .card-title-intro {
    font-size: 1em;
  }
  .card-title {
    font-size: 1em;
  }
  .titreParcours2 {
    font-size: 1em;
    text-transform: uppercase;
  }
  .mt-2 {
    font-size: 1em;
  }
  #headingOne {
    padding: 0px;
  }
  #headingThree {
    padding: 0px;
  }
  #headingTwo {
    padding: 0;
  }
  .w-responsive {
    padding-left: 5px;
  }
}

@media screen and (max-width: 320px) {
  header {
    height: 60vh;
    position: relative;
  }
  h1 {
    font-size: 2em;
  }
  .preTxt {
    font-size: 2em;
  }
  .text-intro {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .card-title-intro {
    font-size: 1em;
  }
  .card-title {
    font-size: 1em;
  }
  .titreParcours2 {
    font-size: 1em;
    text-transform: uppercase;
  }
  .mt-2 {
    font-size: 1em;
  }
  #headingOne {
    padding: 0px;
  }
  #headingThree {
    padding: 0px;
  }
  #headingTwo {
    padding: 0;
  }
  .w-responsive {
    padding-left: 5px;
  }
}
